:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --ColorButtonText: #2196f3;
  --ColorTextBlack: #212121;
  --ColorText: #757575;
  --ColorTextWhite: #fff;
  --ColorBackgroundHero: #2f303a;
}
body {
  font-family: var(--font-family);
  color: var(--ColorTextWhite);
}
/* ===================================Header================================================*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.logo {
  letter-spacing: 0.03em;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
}
.nav-link:hover {
  color: var(--ColorButtonText);
}
.nav-link {
  color: var(--ColorTextBlack);
  text-decoration: none;
}
.contacts-link {
  color: var(--ColorText);
}
.contacts-link:hover {
  color: var(--ColorButtonText);
}
/* ===================================Main================================================*/

/* hero */
.hero {
  display: flex;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(45, 47, 55, 0.5)
    ),
    url(../img/bg-hero.jpg);
  background-size: 100%;
  padding-bottom: 210px;
}
.hero-title {
  margin-top: 200px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 900;
  max-width: 700px;
  font-size: 44px;
  color: var(--ColorTextWhite);
}
.hero-button {
  font-family: var(--font-family);
  color: var(--ColorTextWhite);
  background-color: var(--ColorButtonText);
  font-weight: 700;
  font-size: 16px;
  padding: 10px 32px;
  border-radius: 4px;
}
.hero-button:hover {
  background-color: #0167bb;
  transform: scale(1.1);
  transition: 500ms;
}
/* advantages */
.container-adventages {
  padding-top: 95px;
  padding-bottom: 95px;
}
.adventages-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--ColorTextBlack);
}
.adventages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.adventages-item {
  max-width: 270px;
}
.adventages-item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
}
.adventages-item:nth-child(1)::before {
  background-image: url(../img/decorations/ws-antena.svg);
}
.adventages-item:nth-child(2)::before {
  background-image: url(../img/decorations/ws-time.svg);
}
.adventages-item:nth-child(3)::before {
  background-image: url(../img/decorations/ws-diagrama.svg);
}
.adventages-item:nth-child(4)::before {
  background-image: url(../img/decorations/ws-astronaft.svg);
}
.adventages-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--ColorText);
}
/* work */
.container-work {
  display: flex;
  align-items: center;
}
.work {
  padding-bottom: 95px;
}
.work-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--ColorTextBlack);
  text-align: center;
  padding-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
  max-width: 370px;
}
/* team */
.container-team {
  display: flex;
  align-items: center;
}
.team {
  background-color: #f5f4fa;
  padding-top: 95px;
  padding-bottom: 95px;
}
.teammate {
  background-color: #fff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.team-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--ColorTextBlack);
  padding-bottom: 50px;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-photo {
  max-width: 270px;
}
.team-name {
  font-family: var(--font-family);
  font-weight: 500;
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  color: var(--ColorTextBlack);
}
.team-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--ColorText);
  padding-bottom: 30px;
}
/* ===================================Footer================================================*/
.container-footer {
  background-color: #2f303a;
  max-width: 1600px;
}
.footer-logo {
  display: flex;
  margin-left: 215px;
  padding-top: 60px;
}
.footer-contacts {
  margin-top: 20px;
  margin-left: 215px;
  padding-bottom: 60px;
}
.contact-item {
  margin-top: 9px;
}
.footer-address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--ColorTextWhite);
  padding-bottom: 9px;
}
.contact-mailto {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--ColorText);
}
.contact-tel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--ColorText);
}

/* ===================================portfolio================================================*/
.container-filter {
  max-width: 575px;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}
.portfolio {
  padding-top: 95px;
  margin-bottom: 95px;
}
.portfolio-filter {
  display: flex;
  gap: 30px;
}
.filter-button {
  font-family: var(--font-family);
  font-weight: 500;
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
}
.filter-button:hover {
  color: var(--ColorTextWhite);
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
}
/* main */
.project:hover {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
}
.project-img {
  width: 370px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.project-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 25px;
  color: var(--ColorBackgroundHero);
}
.ptoject-category {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 25px;
  color: var(--ColorText);
}
